@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  /* transition: 0.5s; */
}

header.sticky {
  background: #111;
  padding: 20px 100px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
}

nav ul {
  position: relative;
  display: flex;
}

nav ul li {
  position: relative;
  list-style: none;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0px 15px;
  color: #ffffff;
}

.banner {
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/banner.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}

.banner h2 {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.banner p {
  margin-top: 10px;
  color: white;
}

article {
  padding: 100px;
}

.heading {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.heading h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.heading p {
  font-style: italic;
}

.about {
  padding-top: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/cat10.jpg);
  background-size: cover;
}

.container {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
}

.content {
  display: flex;
  justify-content: space-evenly;
}

.content-text {
  padding-right: 25px;
  padding-left: 25px;
}

.content-text h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.content-text p {
  font-size: 1em;
}

.about-img {
  min-width: 50%;
}

.img {
  max-width: 100%;
}

.gallery {
  padding: 100px 20px 100px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/cat11.jpg);
  background-size: cover;
}

.gallery h2 {
  color: white;
}

.gallery p {
  color: white;
  font-style: italic;
}

.gallery .content {
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.gallery .img {
  max-height: 300px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  transition: 0.5s;
}

.gallery .img:hover {
  transform: translateY(-5px);
}

.contact {
  background: #111;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 100px 300px;
}

.contact .content {
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.contact-info .info-box {
  position: relative;
  transition: 0.5s;
}

.contact .info-box:hover {
  transform: translateY(-5px);
}

.contact-info .box {
  position: relative;
  padding: 20px 0px;
}

.info-text h3 {
  margin: 5px 0px;
}

.identity {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: 0.5s;
}

.identity:hover {
  transform: translateY(-5px);
}

.identity .img {
  max-width: 130px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 8px;
  background: white;
  transition: 0.5s;
}

.identity section {
  color: black;
  text-align: center;
}

.identity section h3 {
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.identity p {
  font-weight: 500;
  font-size: 14.5px;
  line-height: 1.5em;
}

.identity q {
  font-style: italic;
}

footer {
  padding: 15px;
  color: white;
  background-color: rgb(0, 0, 0);
  text-align: center;
  font-size: 13px;
}

/*Responsive Breakpoints*/

@media screen and (max-width: 992px) {
  header,
  header.sticky {
    padding: 20px 50px;
    z-index: 1000;
  }
  nav ul li a {
    color: #111;
    margin: 20px;
    font-size: 22px;
  }
  .menu {
    top: 80px;
    right: -100%;
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    padding: 50px;
    background: #fff;
    text-align: center;
    transition: 0.5s;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .menu.active {
    right: 0;
  }
  .toggle {
    width: 40px;
    height: 40px;
    background-image: url(img/menu.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .toggle.active {
    background-image: url(img/close.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .banner {
    padding: 50px;
    justify-content: center;
    align-items: flex-start;
  }
  .content {
    display: flex;
    flex-direction: column-reverse;
  }
  article {
    padding: 20px;
  }
  .content-text {
    padding: 10px;
    margin-top: 15px;
  }
  .content-text h3 {
    text-align: center;
  }
  .contact {
    padding: 100px 20px;
  }
  .contact-info {
    margin-top: 10px;
    text-align: center;
  }
}
